td {
   white-space: pre-line;
}

/* table#datatable.dataTable tbody tr:hover {
  background-color: #ffa;
} */

/* table#datatable.dataTable tbody tr:hover {
  background-color: #ffa;
} */

.smallFont {
  /* background-color: #f0aaaa !important; */
  /* height: 20px; */
  font-size: 5px;
  color: lightgray;
}

table.dataTable span.highlight {
  background-color: #FFFF88;
  border-radius: 0.28571429rem;

}

table.dataTable span.column_highlight {
  background-color: #ffcc99;
  border-radius: 0.28571429rem;
}

div.dataTables_wrapper {
  margin: 0 auto;
  width: 90%;
  padding-top: 10px
  /* display: none; */
}

/* #info {
  padding-right:20px;
} */

/* #btnHide {
  padding-left:20px;
} */
